.banner-principal-decorativo
  &-1
    animation: float1 2s ease-in-out infinite alternate
    position: absolute
    top: 45%
    right: 80%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 45%
    right: 25%
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 80%
    right: 20%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal__row 
  justify-content: space-around
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.barra-avance__boton--regresar span 
    color: white !important

.img-t
  width: auto
  height: auto
.img-a
  display: block
  margin: auto


.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
      border-radius: 0px
    &__info
      padding-top: 8% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
      border-radius: 0px
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important





//INTRO

.bloque-texto-a.color-secundario:before
  background-color: #99EAF0
  border-radius: 0px 250px 0px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
.bloque-texto-a.color-secundario
  background-color:#E1F8E6
  border-radius: 0px 280px 0px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 

.cajon.color-secundario:before 
    background-color: #00CBDA
.cajon:before 
    content: ''
    display: block
    width: 30px
    height: 10px
    position: absolute
    top: 0
    left: 0
.cajon.color-secundario 
  background-color: #E5FAFB





//TEMA1

.bloque-texto-g.color-primario
  background-color: #C2F1CE
.bloque-texto-g__texto 
  position: relative
  width: 68%
  @media only screen and (max-width: 767px)
    position: relative
    width: 100%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    position: relative
    width: 100%

.bloque-texto-a.color-acento-contenido:before
  background-color: #3B57DE
  border-radius: 0px 195px 195px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
.bloque-texto-a.color-acento-contenido
  background-color:#EBEEFC
  border-radius: 0px 200px 200px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 

.tarjetaf
  background: url('../assets/curso/tema1/fondo1.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  overflow: hidden
  transition: transform 0.3s ease
.slyder-a__bullets__item 
  background-color: #B0BCF2
  border-color: #B0BCF2
.slyder-a__bullets__item--active 
  background-color: #B300D5 !important
  border-color: #B300D5 !important
.slyder-a__tipo-b .slyder-a__btn--sigt 
  content: url('../assets/curso/tema1/der.svg')
  transform: rotate(0deg)
  right: 15px
.slyder-a__tipo-b .slyder-a__btn--atrs 
  content: url('../assets/curso/tema1/izq.svg')
  transform: rotate(0deg)
  left: 15px

.ti
  background: url('../assets/curso/tema1/6.png')
  background-repeat: no-repeat    
  background-size: cover          
  background-position: center
  border-radius: 18px
  width: fit-content

.bloque-texto-g.color-secundario
  background-color: #99EAF0
  border-radius: 0px 195px 195px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
  .bloque-texto-g__texto 
    position: relative
    width: 75%
    border-radius: 120px
    @media only screen and (max-width: 767px)
      position: relative
      width: 100%
      border-radius: 0px
    @media only screen and (min-width: 768px) and (max-width: 1023px)
      position: relative
      width: 100%
      border-radius: 0px

.titulo-segundo:after 
  content: ''
  display: block
  height: 4.5px
  width: 140px
  border-left: solid 50px
  border-left-color:#3B57DE
  background-color: #e8e8e8

.titulo-sexto.color-secundario
  margin-bottom: 24px
  border-left: 10px solid  #3B57DE !important
  padding: 5px 0 5px 8px

.left
  text-align: left
.tabla-a thead 
  border-top: 5px solid
  color: black
  background-color: #E1F8E6

.acordion__accion__btn--a
  background-color: #B300D5
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
.acordion .tarjeta--azul
  background-color: #E1F8E6
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #E5FAFB
.acordion__accion__btn--a i, .acordion__accion__btn--b i 
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: white
.acordion.activo .acordion__activo .acordion__accion__btn--a
  background-color: #3B57DE

.pasos-a__linea__esquina__linea 
    border: 3px solid
    width: 100%
    position: relative
    border-radius: 0px
.pasos-a.color-primario .pasos-a__circle 
    background-color: #3B57DE
.pasos-a.color-primario .pasos-a__circle div 
    color: #fff
.pasos-a.color-primario .pasos-a__numero::after
    border-left-color: #3B57DE
.pasos-a.color-primario .pasos-a__linea .hor-line 
    border-top-color: #3B57DE
.pasos-a.color-primario .pasos-a__linea__esquina__linea 
    border-color: #3B57DE
@media only screen and (max-width: 767px)
  .cel
    display: none
@media only screen and (min-width: 768px) and (max-width: 1023px)
  .cel
    display: none
.col-1 
    flex: 0 0 auto
    width: 1%

.bloque-texto-a.color-secundario.c1:before
  background-color: #99EAF0
  border-radius: 0px 250px 250px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
.bloque-texto-a.color-secundario.c1
  background-color:#E1F8E6
  border-radius: 0px 280px 280px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 

.bg1
  background-color: #E5FAFB

.cajon.color-primario:before 
    background-color: #68DD84
.cajon:before 
    content: ''
    display: block
    width: 30px
    height: 10px
    position: absolute
    top: 0
    left: 0
.cajon.color-primario 
  background-color: #E1F8E6

.bg2
  background-color: #B0BCF2
  width: fit-content
  border-radius: 50px

.bg3
  background-color: #E1F8E6

.bg4
  background-color: #EBEEFC
  border-radius: 14px

@media (min-width: 992px) 
  .my-lg-2.te1 
      margin-top: 1.2rem !important
      margin-bottom: 1.2rem !important

.br:after 
  content: ''
  display: block
  height: 8px
  border-left: solid 40px
  border-left-color:#00CBDA

.tit
  background-image: url("../assets/curso/tema1/tit.png")!important
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  width: fit-content

.tarjeta.color-acento-contenido
  border-right: 1px solid rgba(255, 255, 255, 0.2)
  @media only screen and (max-width: 767px)
    border-radius: 18px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 18px 
.tarjeta.color-acento-contenido:hover
  background-color:#68DD84 !important
.tarjeta.color-acento-contenido:hover .tb
  color: black !important
.tarjeta.color-acento-contenido:hover img.im1
  content: url("../assets/curso/tema1/im1.svg")!important
.tarjeta.color-acento-contenido:hover img.im2
  content: url("../assets/curso/tema1/im2.svg")!important
.tarjeta.color-acento-contenido:hover img.im3
  content: url("../assets/curso/tema1/im3.svg")!important
.ce1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    margin-left: auto
    margin-right: auto
    display: block

.titulo
  background-color:#EBEEFC
  border-radius: 50px
  width: fit-content
  padding: 5px
  position: relative 
.titulo img
  width: 55px
  position: absolute
  top: -2%
  right: 94.5%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 60px
    top: 20%
    right: 91%
  @media only screen and (max-width: 767px)
    display: none

.acordion__accion__btn--b
  background-color: #B300D5
  transition: all 0.3s ease-out
  border: #B300D5 
.acordion__activo
  background-color: #E5FAFB !important
  transition: all 0.3s ease-out
.tarjeta--griss
    border-radius: 20px
    background-color: #E1F8E6
.acordion.activor .acordion__activo .acordion__accion__btn--b
  background-color: #3B57DE
  

.bloque-texto-g.color-secundario.bt1
  background-color: #C2F1CE
  border-radius: 0px 195px 195px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
  .bloque-texto-g__texto 
    position: relative
    width: 75%
    border-radius: 140px
    @media only screen and (max-width: 767px)
      position: relative
      width: 100%
      border-radius: 0px
    @media only screen and (min-width: 768px) and (max-width: 1023px)
      position: relative
      width: 100%
      border-radius: 0px

.titulo1
  background-color:#EBEEFC
  border-radius: 50px
  width: fit-content
  padding: 5px
  position: relative 
.titulo1 img
  width: 55px
  position: absolute
  top: -2%
  right: 90%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 60px
    top: -8%
    right: 91%
  @media only screen and (max-width: 767px)
    display: none

.imt
  height: 278px
  object-fit: cover

.imt1
  height: 258px
  object-fit: cover

.cajon.color-acento-contenido:before 
    background-color: #3B57DE
.cajon:before 
    content: ''
    display: block
    width: 30px
    height: 10px
    position: absolute
    top: 0
    left: 0
.cajon.color-acento-contenido 
  background-color: #EBEEFC

.blu
  color: #3B57DE !important





//TEMA2


.sob1
  margin-left: -12% 
  margin-bottom: -22px
  z-index: 2
.crd--avatarHorizontal
  position: relative
  padding-right: 9rem
  & > *
    position: relative
  p
    margin-bottom: 0
  &::before
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 50px)
    height: 100%
    background-color: #E5FAFB
  @media (max-width: 1000px)
    padding-right: 2rem
.crd--first, .crd--last
  &::before
    background-color: #E1F8E6!important
.crd--first
  &::before
    border-top-left-radius: 30px
.crd--last
  &::before
    border-bottom-left-radius: 30px

.bloque-texto-a.color-acento-contenido.te2:before
  background-color: #3B57DE
  border-radius: 0px 195px 195px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
.bloque-texto-a.color-acento-contenido.te2
  background-color:#EBEEFC
  border-radius: 0px 200px 200px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 

.imas
  margin-top: -12.51%
  position: absolute
  margin-left: 5%

.tarjeta--slyder.b1
  background-color: #EBEEFC
  box-shadow: 0px 0px 8px rgba(15, 31, 52, 0.24)
  margin: 5px
  height: 95%
.bg5
  background-color: #5169DD
.fa-chevron-right:before 
    content: url('../assets/curso/tema1/der.svg')
.fa-chevron-left:before 
    content: url('../assets/curso/tema1/izq.svg')

.tarjeta--slyder.b2
  background: url('../assets/curso/tema2/fondo2.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  overflow: hidden
  margin: 5px
  height: 97%

.sob
  margin-right: -10.5% 
  margin-bottom: -7px
  z-index: 2
.bg6
  background-color: #C2F1CE
  border-radius: 0px 20px 20px 0px
  @media only screen and (max-width: 767px)
    border-radius: 20px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 20px 
.bgw
  background-color: white
  border-radius: 40px
  @media only screen and (max-width: 767px)
    border-radius: 20px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 20px 
.fa-pills
  content: url('../assets/curso/tema2/20.svg')
  height: 15px
  width: 15px
  margin-top: -1px




//TEMA3

.tarjeta--grisa
  background: url('../assets/curso/tema3/fondo3.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  overflow: hidden
  transition: transform 0.3s ease

.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
  border: 2px solid #B300D5
  background-color: #B300D5
.linea-tiempo-c__header__btn i, .linea-tiempo-c__header__btn--left i, .linea-tiempo-c__header__btn--right i, .pasos-b__header__btn--left i, .pasos-b__header__btn--right i 
  color: white
.linea-tiempo-c.color-acento-botones .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot:after 
  background-color: #3B57DE
.linea-tiempo-c.color-acento-botones .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__dot 
  border-color: #B300D5
  background-color: white
    
.imas1
  margin-top: -11.6%
  position: absolute
  margin-left: 5%





//TEMA4

.imas2
  margin-top: -10%
  position: absolute
  margin-left: 5%

.linea-tiempo-d.color-acento-botones .linea-tiempo-d__item--selected .linea-tiempo-d__item__content 
    background-color: #E5FAFB
.linea-tiempo-d .tarjeta 
    border-radius: 5px
.tarjeta--gris  
    background-color: #E1F8E6
.linea-tiempo-d.color-acento-botones.activo .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
    background-color:#B300D5
.linea-tiempo-d.color-acento-botones.activo .linea-tiempo-d__item__number 
    background-color: #E1F8E6

.tarjeta.ta4
  background-color: #68DD84
  border-radius: 20px 0px 0px 20px 
  @media only screen and (max-width: 767px)
    border-radius: 20px
    p
      text-align: center
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 20px 
    p
      text-align: center
.tarjeta.ta41
  background-color: #007A83
  border-radius: 0px 20px 20px 0px 
  @media only screen and (max-width: 767px)
    border-radius: 20px
    p
      text-align: center
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 20px 
    p
      text-align: center

.bg7
  background: url('../assets/curso/tema4/fondo44.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  margin: -3px
  &:hover
    background-image: url('../assets/curso/tema4/fondo4.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    border-radius: 20px
    margin: -3px
  &:hover 
    .ima1
      content: url("../assets/curso/tema4/20.svg")!important
  &:hover
    .ima2
      content: url("../assets/curso/tema4/21.svg")!important
  &:hover
    .ima3 
      content: url("../assets/curso/tema4/22.svg")!important
  &:hover 
    .ima4
      content: url("../assets/curso/tema4/23.svg")!important

.bg51
  background-color: #5169DD
  width: fit-content
  margin: 0 auto
.bg511
  background: url('../assets/curso/tema4/bg51.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  margin: -3px
.bg52
  background: url('../assets/curso/tema4/bg52.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  margin: -3px
.bg53
  background: url('../assets/curso/tema4/bg53.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  margin: -3px

.tarjeta-numerada.color-primario .tarjeta-numerada__numero div 
  color: white
.tarjeta-numerada.color-secundario .tarjeta-numerada__numero div
  color: black
.tarjeta-numerada.color-acento-botones .tarjeta-numerada__numero div 
  color: white
.tarjeta-numerada.color-acento-botoness .tarjeta-numerada__numero div 
  color: black
.tarjeta-numerada.color-acento-botoness .tarjeta-numerada__numero 
  background-color: #C2DEDF
.tarjeta-numerada.color-acento-botoness 
  border: solid 4px #C2DEDF
.tarjeta-numerada 
  border: solid 4px
.tarjeta-numerada.color-acento-botones .tarjeta-numerada__numero 
  background-color: #3B57DE

.sub
  background-color: #EBEEFC
  border-radius: 0px 10px 10px 0px
  width: fit-content
.titu
  margin-bottom: 0px
  border-left: 10px solid  #3B57DE !important
  padding: 30px 0px 15px 0px
  border-radius: 50px